<footer class="footer">
  <p class="footer-email">{{ email }}</p>
  <div class="social-links">
    <a href="https://www.facebook.com/marcos.fontenla.5/">
      <img class="icon-social" src="../../../../assets/img/facebook.png" alt="facebook">
    </a>
    <a href="https://www.linkedin.com/in/marcosarielfontenla/">
      <img class="icon-social" src="../../../../assets/img/linkedin.png" alt="linkedin">
    </a>
    <a href="https://github.com/MarcosArielFontenla">
      <img class="icon-social" src="../../../../assets/img/github1.png" alt="github">
    </a>
  </div>
  &copy; Todos los derechos reservados - 2024
</footer>
